[package]
name = "wgpu-profiler"
version = "0.15.0"
authors = ["Andreas Reich <r_andreas2@web.de>"]
edition = "2021"
description = "Simple profiler scopes for wgpu using timer queries"
homepage = "https://github.com/Wumpf/wgpu-profiler"
repository = "https://github.com/Wumpf/wgpu-profiler"
keywords = ["graphics"]
license = "MIT OR Apache-2.0"

[features]
tracy = ["tracy-client", "profiling/profile-with-tracy"]

[lib]

[dependencies]
thiserror = "1"
tracy-client = { version = "0.16", optional = true }
wgpu = "0.18"

[dev-dependencies]
futures-lite = "1"
profiling = { version = "1" }
tracy-client = "0.16.1"
winit = "0.28"
