name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Rust Format and Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: wasm32-unknown-unknown
      - run: cargo fmt -- --check
      - run: cargo clippy --locked -- -D warnings
      - run: cargo check --locked --target wasm32-unknown-unknown
      - run: cargo clippy --locked -- -D warnings --target wasm32-unknown-unknown
      - run: cargo clippy --locked --all-features -- -D warnings
